h3 {
    margin : 3px 0 3px 0;
}

.InfoBox {
    padding : 0.5rem;
    height : 60vh;
    width : 30vw;
    text-align: center;
    background : rgba(255,255,255,0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 0.5rem;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin : 0;
    padding: 0;
}

@media (orientation : portrait) {
    .InfoBox {
    padding : 0.5rem;
    height : 50vh;
    width : 80%;
    text-align: center;
    background : rgba(255,255,255,0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 0.5rem;
    }
}